body {
  text-align: center;
  background-image: url(media/background-main.jpg);
  background-size: cover;
  background-position: fixed;
}

header {
  color: brown;
  padding: 10px;
  border-radius: 70px;
  background-color: rgba(17, 0, 255, 0.192);

  display: block;
  text-align: center;
}
#hello h3 {
  font-size: xx-large;
  text-shadow: 2px 3px 2px rgba(255, 254, 254, 0.747),
    -2px -3px 2px rgba(255, 254, 254, 0.747);
}
.info {
  display: block;
  background-color: rgba(250, 235, 215, 0.466);
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

footer {
  font-size: larger;
}
header h1 {
  text-shadow: 2px 5px 10px rgb(0, 0, 0);
}
header h3 {
  text-shadow: 2px 5px 10px rgb(0, 0, 0);
}
.specs {
  display: inline-block;
}
.intro {
  display: inline-block;
  max-width: 200px;
}
ul {
  display: inline-block;
  box-sizing: border-box;
  list-style-type: none;
  margin: 0%;
  padding: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.473);
  border-radius: 10px;
  background-color: rgba(238, 204, 204, 0.473);
}

.contact {
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin: 20%;
  width: 60%;
  height: 20%;
  background-color: rgba(250, 235, 215, 0.466);

  border: 3px solid rgba(0, 0, 0, 0.473);
}
input {
  width: 150px;
}
.input {
  margin: 0.6em;
  font-size: larger;
  font-weight: bold;
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  background-color: rgba(250, 235, 215, 0.466);
}
table td,
tbody,
th {
  text-align: center;
  padding: 5px;
  border: 2px solid rgba(38, 0, 255, 0.849);
}

.image img {
  max-width: 400px;
}
.logo img {
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
  width: 750px;
  text-align: center;
  border-radius: 15px;
}
footer {
  background-color: rgba(250, 235, 215, 0.466);
  border-bottom-right-radius: 70px;
  border-bottom-left-radius: 70px;
}
.media {
  background-color: rgba(250, 235, 215, 0.466);
}

.home footer {
  border-radius: 70px;
}
